body{
    font-weight: bolder;
    font-family: system-ui;
}
 
h1 {
    color: chartreuse;
    background-color: black;
}

h2 {
    color: rgb(202, 166, 99);
    background-color: rgb(48, 77, 82);
}

h6 {
    color: cadetblue;
}